/* --------------------------------

File#: _2_flexi-header
Title: Flexi Header
Descr: Customizable header template
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --f-header-height: 100px;

  @include breakpoint(md) {
    --f-header-height: 150px;
  }
}

.f-header {
  height: var(--f-header-height);
  width: 100%;
  z-index: var(--zindex-header);
  background-color: var(--color-accent);
}

.f-header__logo {
  display: inline-block;
  flex-shrink: 0;
  text-decoration: none;

  svg,
  img {
    display: block;
    height: var(--f-header-height);
  }
}

.f-header__link,
.f-header__dropdown-link {
  display: block;
  display: flex;
  align-items: center; // align icon with text
  color: var(--color-contrast-high);
  text-transform: capitalize;
  text-decoration: none;
  padding: var(--space-xs) 0;

  &:hover,
  &[aria-current='page'] {
    color: var(--color-primary);
  }

  .icon {
    flex-shrink: 0;
  }
}

.f-header__btn,
.f-header__form-control {
  width: 100%;
  margin: var(--space-xs) 0;
}

.f-header__nav-grid,
.f-header__list {
  display: flex;
  align-items: center;
}

.f-header__nav-grid {
  height: 100%;
}

.f-header__link {
  padding: var(--space-xxxs) var(--space-xxs);
}

.f-header__text-links {
  flex-direction: column;
}

@include breakpoint(sm) {
  .f-header__text-links {
    flex-direction: row;
  }
}
